body {
    margin: 130px 0 0 0;
    padding: 0;
    font-family: 'Truculenta', sans-serif;
    background: #D0AEBC;
    color: #333;
}

header {
    background-color: #6E819F; 
    color: #213452; 
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 4em;
}

/* Main content styles */
main {
    max-width: 1400px;
    margin: 40px auto;
    padding: 20px 20px;
    top: 500px;
}

footer{
    text-align: center;
}

p{
    margin: 10px
}

/* Styles for search box */
#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #213452; 
    box-sizing: border-box; /* To include padding in the width */
}


#sortOptions{
    border-radius: 0px;
    border: 1px solid #213452; 
}

div.sortby {
    padding-top: 40px;
    padding-bottom: 20px;
    /* margin: 20px; */
}

#sortOptions:hover {
    background-color: #213452;
    color: #F6F4F5;
}

/* Card container */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}
 
/* Card styles */
.fruchtCard {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
    font-family: 'Truculenta', sans-serif;
    transition: transform 0.2s ease;
    flex: 0 0 33%;
    border: 1px solid #213452;
}

.fruchtCard:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


/* .fruchtCard.clicked {
    transform: scale(1.3);
    z-index: 999;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F6F4F5;
} */

/* Styles for popup */
.popup-fruchtCard .fruchtCard {
    box-shadow: 50px 50px 50px rgba(0,0,0,0.8);
    margin: 0 auto;
    border: 15px #333;
    font-family: 'Truculenta', sans-serif;
    transition: transform 0.2s ease;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
 }

.close {
    position: absolute;
    font-size: 50px;
    display: flex;
    justify-content: center;

    top: -30px;
    right: -30px;
    padding: 10px;
    background: #213452;
    color: #F6F4F5;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

/* Styles for fruchtCard */
.fruchtCard {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
}

.cardHeader {
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    padding: 10px;
    /* background: #F6F4F5; */
}

.cardHeader h2 {
    margin: 0;
    color: #905e73;
    font-size: 2em;
    align-items: center;
    text-align: center;
}


.fruchtImage {
    width: 100%;
    display: block;
}


.NutritionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will distribute space evenly around the items */
    align-items: center; /* This aligns items vertically */
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.NutritionList li {
    background: #F6F4F5; /* White background for the stats "cards" */
    border: 1px solid #ddd; /* A subtle border */
    margin: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    flex-basis: calc(33.333% - 10px); /* Take up one-third of the container width, minus margin */
    text-align: center; /* Center the text */
}

.NutritionList li:hover {
    background-color: #6E819F;
    border: 1px solid #ddd;
    color: #F6F4F5;
    cursor: default;
}

.NutritionList strong {
    font-weight: bold;
    color: #213452;
    display: block; /* Makes the stat name take a full line for emphasis */
}


/* Styles for filter option */
#filter{
    padding-bottom: 10px;
}

button{
    background-color: #F6F4F5;
    border: 1px solid #213452; 
    cursor: pointer;
}

button#all{
    font-weight: bold;
}

button:hover{
    background-color: #905e73;
}

button.clicked {
    background: #6E819F;
}









/* _________________________________________*/
/* styles for Team site */
/* _________________________________________*/
.teamBackground {
    background-color: #6E819F;
}

.teamHeader {
    background-color: #D0AEBC;
    color: #905e73;
}

/* flipcard erstellen */
teamCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;

}


.teamCardOuter {
    width: 250px;
    height: 320px;
    margin: 40px 0;
    perspective: 600px;
  }
  

/* styles for Team Cards */
.teamCard {
    width: 500px;
    height: 800px;
    padding: 10px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
    font-family: 'Truculenta', sans-serif;
    transition: transform 1s opacity 0.2s 0.8s;
    flex: 0 0 33%;
    border: 1px solid #905e73;
    position: relative;
    transform-style: preserve-3d; /* Behalte den 3D-Effekt beim Drehen bei */
    cursor: pointer;
}

.teamImage {
    width: 100%;
    display: block;
}


ul.infoList {
    padding-inline-start: 0px;
}


.infoList li {
    background: #F6F4F5; /* White background for the stats "cards" */
    border: 1px solid #ddd; /* A subtle border */
    margin: 5px;
    padding: 5px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    flex-basis: calc(33.333% - 10px); /* Take up one-third of the container width, minus margin */
    text-align: center; /* Center the text */
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will distribute space evenly around the items */
    align-items: center; /* This aligns items vertically */
    padding-inline-start: 0px;
}
  
  .teamCard.is-flipped {
    transform: scaleX(-1);
  }
  
  .card__face {
    position: absolute;
    justify-content: space-around;
    width: 500px;
    height: 800px;
    line-height: 60px;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s opacity 0.1s 0.9s;
  }

  .teamCard:not(.is-flipped) .card__face--back {
    transform: scaleX(1);
    opacity: 0;
  }
  .teamCard:not(.is-flipped) .card__face--front {
    transform: scaleX(1);
    opacity: 1;
  }
  .teamCard.is-flipped .card__face--front {
    transform: scaleX(-1);
    opacity: 0;
  }
  .teamCard.is-flipped .card__face--back {
    transform: scaleX(-1);
    opacity: 1;
  }












/* Styles for Nav-Button */
.teamVerlinkung {
    background-color: #ddd;
    color: #213452;
    padding: 10px;
    border: none;
    font-family: 'Truculenta', sans-serif;
    font-size: 16px;
}

.teamVerlinkung:hover {
    background-color: #213452;
    color: #ddd;
    padding: 10px;
    cursor: pointer;
    font-family: 'Truculenta', sans-serif;
    font-size: 16px;
}

.startVerlinkung {
    background-color: #ddd;
    color: #213452;
    padding: 10px;
    border: none;
    font-family: 'Truculenta', sans-serif;
    font-size: 16px;
}

.startVerlinkung:hover {
    background-color: #905e73;
    color: #ddd;
    padding: 10px;
    cursor: pointer;
    font-family: 'Truculenta', sans-serif;
    font-size: 16px;
}



/* Responsive layout adjustments */
@media (max-width: 1024px) {
    .fruchtCard {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .fruchtCard {
        width: calc(50% - 20px);
        flex: 0 0 100%;
    }
}

/* Responsive layout adjustments */
@media (max-width: 600px) {
    .fruchtCard {
        width: 100%;
        flex: 0 0 100%;
    }
}