body {
    margin: 0;
    padding: 0;
    font-family: 'Truculenta', sans-serif;
    background: #F3A807;
    color: #333;
}

header {
    background-color: #C8D4BE; 
    color: #748465; 
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

header h1 {
    margin: 0;
    font-size: 4em;
}

/* Main content styles */
main {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Search box styles */
#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* To include padding in the width */
}

/* Card container */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

/* Card styles */
.fruchtCard {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
    font-family: 'Truculenta', sans-serif;
    transition: transform 0.2s ease;
    flex: 0 0 33%;
}

.fruchtCard:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.fruchtCard:active {
    transform: translateY(0);
    
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #FFCD6A;
}

.cardHeader h2 {
    margin: 0;
    color: #D27601;
    font-size: 2em;
    align-items: center;
    text-align: center;
}



.fruchtImage {
    width: 100%;
    display: block;
}


.NutritionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will distribute space evenly around the items */
    align-items: center; /* This aligns items vertically */
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.NutritionList li {
    background: #fff; /* White background for the stats "cards" */
    border: 1px solid #ddd; /* A subtle border */
    border-radius: 4px; /* Rounded corners */
    margin: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    flex-basis: calc(33.333% - 10px); /* Take up one-third of the container width, minus margin */
    text-align: center; /* Center the text */
}

.NutritionList strong {
    font-weight: bold;
    color: #748465;
    display: block; /* Makes the stat name take a full line for emphasis */
}


/* Responsive layout adjustments */
@media (max-width: 1024px) {
    .fruchtCard {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .fruchtCard {
        width: calc(50% - 20px);
        flex: 0 0 100%;
    }
}

/* Responsive layout adjustments */
@media (max-width: 600px) {
    .fruchtCard {
        width: 100%;
        flex: 0 0 100%;
    }

}
